<?xml version="1.0" encoding="UTF-8"?>
<web-app
        xmlns="http://java.sun.com/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
        version="2.5"
        metadata-complete="false">
<!--	<filter>-->
<!--		<filter-name>cors</filter-name>-->
<!--		<filter-class>com.gzcss.util.CORSFilter</filter-class>-->
<!--	</filter>-->
<!--	<filter-mapping>-->
<!--		<filter-name>cors</filter-name>-->
<!--		<url-pattern>/*</url-pattern>-->
<!--	</filter-mapping>-->

<!--	<filter>-->
<!--		<filter-name>XssSqlFilter</filter-name>-->
<!--		<filter-class>net.gzcss.utils.XssFilter</filter-class>-->
<!--	</filter>-->
<!--	<filter-mapping>-->
<!--		<filter-name>XssSqlFilter</filter-name>-->
<!--		<url-pattern>/*</url-pattern>-->
<!--		<dispatcher>REQUEST</dispatcher>-->
<!--	</filter-mapping>-->

<!--	<context-param>-->
<!--		<param-name>webAppRootKey</param-name>-->
<!--		<param-value>wxgzh</param-value>-->
<!--	</context-param>-->
<!--	<context-param>-->
<!--		<param-name>log4jConfigLocation</param-name>-->
<!--		<param-value>classpath:log4j.properties</param-value>-->
<!--	</context-param>-->
<!--	<listener>-->
<!--		<listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>-->
<!--	</listener>-->

<!--	<filter>-->
<!--		<filter-name>shiroFilter</filter-name>-->
<!--		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>-->
<!--		<init-param>-->
<!--			<param-name>targetFilterLifecycle</param-name>-->
<!--			<param-value>true</param-value>-->
<!--		</init-param>-->
<!--	</filter>-->
<!--	<filter-mapping>-->
<!--		<filter-name>shiroFilter</filter-name>-->
<!--		<url-pattern>/*</url-pattern>-->
<!--	</filter-mapping>-->


<!--	<context-param>-->
<!--		<param-name>contextConfigLocation</param-name>-->
<!--		<param-value>classpath*:spring-*.xml</param-value>-->
<!--	</context-param>-->
<!--	<filter>-->
<!--		<filter-name>encodingFilter</filter-name>-->
<!--		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>-->
<!--		<init-param>-->
<!--			<param-name>encoding</param-name>-->
<!--			<param-value>UTF-8</param-value>-->
<!--		</init-param>-->
<!--		<init-param>-->
<!--			<param-name>forceEncoding</param-name>-->
<!--			<param-value>true</param-value>-->
<!--		</init-param>-->
<!--	</filter>-->
<!--	<filter-mapping>-->
<!--		<filter-name>encodingFilter</filter-name>-->
<!--		<url-pattern>/*</url-pattern>-->
<!--	</filter-mapping>-->

<!--	<filter>-->
<!--		<filter-name>DESRestServletRequestFilter</filter-name>-->
<!--		<filter-class>com.gzcss.filter.DESRestServletRequestFilter</filter-class>-->
<!--	</filter>-->
<!--	<filter-mapping>-->
<!--		<filter-name>DESRestServletRequestFilter</filter-name>-->
<!--		<url-pattern>*.do</url-pattern>-->
<!--	</filter-mapping>-->
<!--	-->
<!--	<filter-mapping>-->
<!--		<filter-name>DESRestServletRequestFilter</filter-name>-->
<!--		<url-pattern>*.data</url-pattern>-->
<!--	</filter-mapping>-->
<!--	<filter>-->

<!--		<filter-name>druidWebStatFilter</filter-name>-->
<!--		<filter-class>com.alibaba.druid.support.http.WebStatFilter</filter-class>-->
<!--		<init-param>-->
<!--			<param-name>exclusions</param-name>-->
<!--			<param-value>/css/*,/context/*,/plug-in/*,*.js,*.css,*/druid*,/attached/*,*.jsp-->
<!--			</param-value>-->
<!--		</init-param>-->
<!--		<init-param>-->
<!--			<param-name>principalSessionName</param-name>-->
<!--			<param-value>sessionInfo</param-value>-->
<!--		</init-param>-->
<!--		<init-param>-->
<!--			<param-name>profileEnable</param-name>-->
<!--			<param-value>true</param-value>-->
<!--		</init-param>-->
<!--	</filter>-->
<!--	<filter-mapping>-->
<!--		<filter-name>druidWebStatFilter</filter-name>-->
<!--		<url-pattern>/*</url-pattern>-->
<!--	</filter-mapping>-->
<!--	<listener>-->
<!--		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>-->
<!--	</listener>-->
<!--	<listener>-->
<!--		<listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>-->
<!--	</listener>-->
<!--	<listener>-->
<!--		<listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>-->
<!--	</listener>-->
<!--	<servlet>-->
<!--		<description>spring mvc servlet</description>-->
<!--		<servlet-name>springMvc</servlet-name>-->
<!--		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>-->
<!--		<init-param>-->
<!--			<param-name>contextConfigLocation</param-name>-->
<!--			<param-value>classpath*:spring-mvc.xml</param-value>-->
<!--		</init-param>-->
<!--		<load-on-startup>1</load-on-startup>-->
<!--	</servlet>-->
<!--	<servlet-mapping>-->
<!--		<servlet-name>springMvc</servlet-name>-->
<!--		<url-pattern>*.do</url-pattern>-->
<!--	</servlet-mapping>-->
<!--	<servlet-mapping>-->
<!--		<servlet-name>springMvc</servlet-name>-->
<!--		<url-pattern>*.action</url-pattern>-->
<!--	</servlet-mapping>-->
<!--	<servlet-mapping>-->
<!--		<servlet-name>springMvc</servlet-name>-->
<!--		<url-pattern>*.data</url-pattern>-->
<!--	</servlet-mapping>-->
<!--	<servlet-mapping>-->
<!--		<servlet-name>springMvc</servlet-name>-->
<!--		<url-pattern>*.list</url-pattern>-->
<!--	</servlet-mapping>-->
<!--	<servlet>-->
<!--		<servlet-name>restSpringMvc</servlet-name>-->
<!--		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>-->
<!--		<init-param>-->
<!--			<param-name>contextConfigLocation</param-name>-->
<!--			<param-value>classpath*:spring-mvc.xml</param-value>-->
<!--		</init-param>-->
<!--	</servlet>-->
<!--	<servlet-mapping>-->
<!--		<servlet-name>restSpringMvc</servlet-name>-->
<!--		<url-pattern>/rest/*</url-pattern>-->
<!--	</servlet-mapping>-->
<!--	<servlet>-->
<!--		<servlet-name>druidStatView</servlet-name>-->
<!--		<servlet-class>com.alibaba.druid.support.http.StatViewServlet</servlet-class>-->
<!--	</servlet>-->
<!--	<servlet-mapping>-->
<!--		<servlet-name>druidStatView</servlet-name>-->
<!--		<url-pattern>/druid/*</url-pattern>-->
<!--	</servlet-mapping>-->

<!--	<session-config>-->
<!--		<session-timeout>30</session-timeout>-->
<!--	</session-config>-->
<!--	<welcome-file-list>-->
<!--		<welcome-file>/webpage/interface.jsp</welcome-file>-->
<!--	</welcome-file-list>-->
</web-app>